@model StudentModel
@{
    ViewData["Title"] = "_StudentPartial";
}

<tr>
	<td>@Model.Id</td>
	<td>@Model.FamilyName</td>
	<td>@Model.MiddleName</td>
	<td>@Model.LastName</td>
	<td>@Model.Class</td>
</tr>

